.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    background-color: white;
    width: 100%;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.eventInfo {
    width: 90%;
    background-color: rgb(221, 240, 234);
    padding: 10px;
    border-radius: 5px;
}