.postList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.homePosts {
  margin-top: 10px;
}

.noPosts {
  background-color: white;
  padding: 20px;
  padding-bottom: 30px;
}
