.singleMsg {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.userMsg {
    justify-content: flex-end;
}

.senderMsg {
    justify-content: flex-start;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.userAvatar {
    order: 2;
}

.senderAvatar {
    order: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    order: 2;
}

.userContent {
    align-items: flex-end;
}

.content p {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: white;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 20px;
}

.userContent {
    order: 1;
}

.senderContent {
    order: 2;
}

.userSmall {
    align-self: flex-end;
}

.smallInfos {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 5px;
}

.smallDelete {
    color: red;
}