.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    background-color: rgb(244, 244, 237);
    padding: 25px;
    border-radius: 6px;
}

.imgContainer {
    width: 100%;
    padding-top: 25%;
    /* 4:1 aspect ratio */
    position: relative;
}

.imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.infoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoContainer p,
.infoContainer span,
.infoContainer a,
.infoContainer button {
    font-size: 13px;
}

.userName {
    display: flex;
    align-items: center;
    gap: 10px;

}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.infoContainer button {
    padding: 5px 0;
    background-color: rgb(104, 57, 148);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.infoContainer button:disabled {
    padding: 5px 0;
    background-color: rgb(97, 94, 100);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: not-allowed;
}

.eventBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    width: 40%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.modalIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 19px;
    cursor: pointer;
}

.modalIcon:hover {
    color: blue;
}