.singlePost {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.singleHomePost {
    width: 95%;
}

.singleUserPost {
    width: 100%;
}

.userInfo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.imgCtn img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.postImgCtn {
    width: 100%;
}

.postImg {
    margin-top: 3px;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reactions {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    position: relative;
    margin-bottom: 20px;
}

.reactions:after {
    position: absolute;
    content: "";
    border: 1px solid rgb(17, 17, 17, 0.4);
    margin-top: 40px;
    width: 100%;
}

.reactionsLikes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.likeBlock {
    background-color: blue;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 6px;
}

.likeIcon {
    font-size: 8px;
    color: white;
}

.comIcons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comIconBlock {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comIconBlock:hover {
    background-color: rgb(235, 244, 244);
}

.comIconBlock:active {
    background-color: rgb(203, 225, 218);
}

.comIcon {
    font-size: 20px;
    color: rgb(98, 98, 219);
    cursor: pointer;
}

.notLiked {
    color: black;
}

.liked {
    color: blue;
}

.informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trash {
    margin-right: 20px;
}

.trashIcon {
    font-size: 18px;
    color: rgb(18, 18, 78);
    cursor: pointer;
}

.trashIcon:hover {
    color: rgb(45, 45, 117);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.clickedImage {
    position: fixed;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    object-fit: cover;
}

.closeImage {
    z-index: 3;
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 50px;
    right: 50px;
}

.closeImage:hover {
    color: rgb(230, 217, 217);
}