.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    width: 40%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
}

.modal input {
    padding: 8px 14px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.modal button {
    padding: 8px 14px;
    border-radius: 4px;
    border: none;
    background-color: rgb(104, 57, 148);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.hiddenInput {
    display: none;
}

.customUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(239, 239, 243);
    padding: 20px;
    border-radius: 4px;
    height: 100px;
}

.iconImg {
    font-size: 40px;
    color: blue;
}

.customUpload small {
    color: blue;
}

.imagePreview {
    object-fit: cover;
    height: 100px;
}